<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=name%> <%=id%>  </p>
<img src="/model/<%= img %>">
<a href="/users/logout" class="btn btn-secondary">Logout</a>
 <a href="/users/editdetails" class="btn btn-secondary">Update Details</a>
 <a href="/csv" class="btn btn-secondary">upload csv </a>
 <a href="/xl" class="btn btn-secondary">upload xl  </a>


 