<h1 class="mt-4">Display Details</h1>
<p class="lead mb-3"></p>
<a href="/csv" class="btn btn-secondary">back</a>
<a href="/getdetails" class="btn btn-secondary">print csv  Details</a>
<a href="/xldetails" class="btn btn-secondary">print xldetails </a>
 <!-- <a href="/getdetails" class="btn btn-secondary">print cvs Details</a> -->
